/*/target/
/*/*/target/
/*/*/*/*/target/
/*/.idea
**/.idea
**/.gradle
*.iml
.DS_Store
*.jar
/*/runner/
/JavaModularAsteroids/nbproject/private/
/Exercises/JavaLab/AsteroidsEntityFramework/Asteroid/target/
/Exercises/JavaLab/AsteroidsEntityFramework/Collision/target/
